<h1><%= t 'book.title.edit' %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('book.link.to_detail'), @book %> |
  <%= link_to t('book.link.to_books'), books_path %>
</nav>
