<div class="mentions-container">
  <% if reports.present? %>
    <strong>
      <%= t('views.mentions.title', name: Report.model_name.human) %>
    </strong>
    <ul>
      <% reports.each do |report| %>
        <li>
          <%= link_to report.title, report %>
          <%= t('views.mentions.linked_from') %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
